@import "../../../utils/variables";

.createProForm {
  margin-top: 7px;
  padding: 20px;
  background-color: map-get($colors, third);
  border: 5px solid map-get($colors, fourth);

  h4 {
    color: map-get($colors, fourth);
    text-align: center;
    margin-top: 15px;
  }
}
