@import "../../../utils/variables";

.publicJumbo {
  text-align: center;
  background-color: map-get($colors, third);
  min-height: 400px;
  padding: 20px;
  margin-top: 20px;
  border: 5px solid map-get($colors, fourth);
  h1,
  p {
    font-family: "Righteous", cursive;
    color: map-get($colors, fourth);
  }

  h1 {
    font-size: 100px;
  }
}
