@import "../../utils/variables";

.sidebar {
  background-color: map-get($colors, fifth);
}

.projectView {
  // margin: 0.5rem 0 1rem 0;
  background-color: map-get($colors, third);

  .projectContainer {
    margin: 1rem 0 1rem 0;
    background-color: map-get($colors, fourth);
  }
}
