@import "../../utils/variables";

.btn {
  background-color: map-get($colors, fourth);
  color: map-get($colors, third);
}
.btn:hover,
.btn-large:hover {
  background-color: map-get($colors, fourth);
}
